
<div>
	<div class="d-none d-lg-block">
		<nav class="navbar navbar-light bg-light justify-content-between">
			<a class="navbar-brand">Flix</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">Sign in</span>
			</button>
		</nav>
	</div>
	<div class="hero">
		<h1>Learn Magic from the pros</h1>
		<h2>I'm an illusionist, Michael.</h2>
	</div>

</div>






